*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1B1919;
  width: 1200px;
  height: 100vh;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  max-height: 532px;
  gap: 28px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 771px;
  gap: 6px;
  padding-bottom: 2px;
}

.result__video-container {
  width: 714px;
  height: 386px;
  margin-bottom: 9px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.search-form__fieldset {
  border-width: 0;
  width: 221px;
}

.search-form__textfield {
  font-weight: 400;
  font-size: 18px;
  font-family: "Firra Sans Condensed";
  appearance: none;
  min-width: 225px;
  height: 26px;
  color: #fff;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 0;
  border-left: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 6px 2px;
  font-family: "Firra Sans Condensed";
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__label-text {
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  margin: auto;
}

.search-form__pseudo-checkbox:hover + .search-form__label-text,
.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 3px;
}

.search-form__submit-button {
  display: flex;
  width: 194px;
  height: 34px;
  padding-left: 4px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-size: 17px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.button:active,
.content__video-card:active {
  background-color: rgba(255, 255, 255, 0.25);
}

.button:hover,
.content__video-card:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
  text-decoration: underline;
}

.content__list {
  height: 298px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: gray black;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  gap: 22px;
}

.content__accent {
  color: rgba(255, 255, 255, 0.25); 
}

.title {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 71px;
  font-family: "Oswald", sans-serif;
  padding-top: 3px;
}

.content__list-item {
  margin-bottom: 0;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  margin: 3px;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current:focus {
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.25);
}

.content__card-link:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #fff;
  white-space: nowrap;
}

.content__video-card-description {
  line-height: 16px;
  text-transform: capitalize;
  font-size: 18px;
  min-height: 65px;
  color: #fff;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  margin-right: 8px;
  object-fit: cover;
  object-position: center;
  padding-top: 2px;
}

.more-button {
  margin-block-start: 30px;
  color: #fff;
  width: 400px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;
}